* {
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.main {
    background-image: url(assets/Images/Backgroundimage.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    position: relative;




}

.main .box {

    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

nav {
    max-width: 100vw;
    margin: 0;
    display: flex;
    justify-content: space-around;
    /* height: 62px; */

}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.One {
    position: relative;
    font-size: 17px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 12, 12);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 125px;
    height: 33px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.55);
    font-family: sans-serif;
    cursor: pointer;



}

.Two {
    font-size: 17px;
    z-index: 10;
    position: relative;
    color: white;
    background-color: red;
    width: 78px;
    height: 33px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;

}

.text {
    height: 90%;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    justify-content: center;
    align-items: center;
    /* margin-top: 235px ; */
    color: rgb(255, 254, 252);
    font-size: 65px;
    font-family: sans-serif;
    font-weight: bolder;
    position: relative;
    z-index: 10;
    padding: 30px;
    text-align: center;

}

.text .line1 {
    text-align: center;
}

.text .line2 {
    text-align: center;
}

.text .line3 {
    font-size: 20px;
    padding-top: 15px;
    text-align: center;
}

.text .line4 {
    font-size: 15px;
    padding-top: 25px;
    text-align: center;
}

.text input {
    width: 382px;
    height: 60px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 4px;

}

.textbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;

}

.text button {
    height: 60px;
    width: 214px;
    color: white;
    font-size: 30px;
    background-color: red;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.text input {
    background-color: rgba(23, 23, 23, 0.5);
    color: white;
    cursor: pointer;
}

nav span img {
    height: 85px;
    width: 160px;
    z-index: 10;
    position: relative;

}

nav img {
    width: 32px;
    color: red;

}

.sepration {
    height: 9px;
    background-color: gray;
}

.section .content1 {
    color: white;
    color: rgb(255, 254, 252);
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 26px 0px 0px 112px;
}

.section {
    height: 100vh;
}

.box2 {}

.showsscrollbar {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 30px;
    padding: 0px 0px 0px 135px;
    gap: 40px;
    list-style: none;
    justify-content: space-around;
    height: 325px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    padding: 20px 60px;

    /* Hide scrollbar (Netflix style) */
    scrollbar-width: none;
    /* Firefox */

}

.shows {
    display: flex;
    gap: 5px;

    border: 1px solid black;
    border-radius: 15px;
}

.content2 {
    color: white;
    color: rgb(255, 254, 252);
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 26px 0px 0px 112px;
}

.box3 {
    padding-bottom: 10px;
}

.reasons {
    display: flex;
    padding-left: 110px;
    margin-top: 25px;
    margin-left: 50px;
    gap: 130px;
    flex-wrap: wrap;
    
}

.features {
    width: 310px;
    background-color: rgb(43, 36, 66);
    border: 1px solid black;
    border-radius: 35px;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    box-sizing: border-box;
    


}

.features .firstline {
    color: white;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 30px 15px;

}

.features .secondline {
    color: white;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bolder;
    padding: 30px 15px;
}

.faqs{
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 35px;
    padding: 0px 0px;
    margin-top: 40px;
    padding: 26px 0px 0px 112px;
    
}
.faqbox{
    min-height: 85px;
    max-width: 60vw;
    width: 1300px;
    background-color: #2d2d2d;
    display: flex;
    margin-left: 50px;
    margin-top: 7px;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    font-size: 20px;
    font-weight: 100;
    color: rgb(223 218 213);
    font-family: sans-serif;
    cursor: pointer;
    
    
}

.faqbox:hover{
    background-color: #424040 ;
    transition: all 2s ease-in;
}

.faqs .faqbox svg{
    padding-right: 45px;
}

@media (max-width: 600px) {

    /* NAVBAR */
    nav {
        justify-content: space-between;
        padding: 10px 15px;
    }

    nav span img {
        height: 50px;
        width: 110px;
    }

    .One {
        width: 90px;
        font-size: 14px;
    }

    .Two {
        width: 65px;
        font-size: 14px;
    }

    /* HERO TEXT */
    .text {
        font-size: 32px;
        padding: 15px;
    }

    .text .line3 {
        font-size: 16px;
    }

    .text .line4 {
        font-size: 14px;
    }

    /* INPUT + BUTTON */
    .textbuttons {
        flex-direction: column;
        width: 100%;
    }

    .text input {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }

    .text button {
        width: 100%;
        height: 50px;
        font-size: 18px;
    }

    /* TRENDING SECTION */
    .section .content1,
    .content2,
    .faqs {
        padding-left: 15px;
        font-size: 24px;
    }

    .showsscrollbar {
        padding: 10px 15px;
        gap: 15px;
    }

    .shows {
        width: 140px;
    }

    /* FEATURES SECTION */
    .reasons {
        padding-left: 0;
        margin-left: 0;
        justify-content: center;
        gap: 20px;
    }

    .features {
        width: 90%;
        min-height: auto;
    }

    .features .firstline {
        font-size: 22px;
    }

    .features .secondline {
        font-size: 14px;
    }

    /* FAQ SECTION */
    .faqbox {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
    }

    .faqs .faqbox svg {
        padding-right: 15px;
    }
}
